<!DOCTYPE html>
<html lang="en">

  <link rel="stylesheet" href="../static/stylecode.css">

<head>
  <meta charset="UTF-8">
  
  <title>Mission to Mars</title>

</head>

<body>

    <main >
        <div class="container">
            <header  class="w-100 p-3" >
                <h1>Latest Mars News</h1>
            </header>
            <div class="row"></div>
              <div class="col-md-6">
                <div class="image-fluid">
                  <img src="../static/owl.jpg" alt="This is an image of Mars." style="max-width: 20%">
                </div>
              </div> 
            <div>
              <h4 class="w-100 p-2">Latest Mars News</h4>
                <p class="w-100 p-2">{{test}}
                </p>
                <p class="w-100 p-2"> {{title}}</p>
                <p class="w-100 p-2"><!--{{image}}--></p>
                <p class="w-100 p-2">Thanks for your time.</p>
                <p class="w-100 p-2"> Clifford</p>
            </div>            
          </div>
    </main>
  </div>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="../bootstrap.bundle.js"></script>
</body>

</html>


